<section id="{% block section_id %}inspiration{% endblock section_id%}">
	
	<div class="container">
	    <div class="row">
	        <div class="col-md-2 text-center">
	        </div>
	        <div class="col-md-8 parag-text">
	        	
	        		{{ elements.logo() }}
	        		{% block section_top_menu %}
	        			{{ elements.section_menu(subsect=[]) }}
	        		{% endblock%}
	        		
	        		{% call editable_macro.render_editable(self.section_id()+'-first-parag-'~i, class='editable first-parag',
									node='p', append=elements.read_btn("more")) %}
	        			{% block section_text_first %}first par goes here{% endblock section_text_first %}
	        		{% endcall %}
							{% call editable_macro.render_editable(self.section_id()+'-hidden-parag-'~1, class='editable hidden-parag', 
								append=elements.read_btn("less")) %}
	        			{% block section_text_more %}first par goes here{% endblock section_text_more %}
	        		{% endcall %}
	        	
	        </div>
	        <div class="col-md-2 text-center drawing-column">
	        	{% block section_drawing %}
	        		{{ elements.drawing(name="homusolive") }}
	        	{% endblock section_drawing%}
	        </div>
	    </div>
	</div>
</section>
{{ elements.section_footer() }}